body {
  background-color: #1E2229;
}

h1, h2 {
  color: #586073;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  font-size: 75px;
  padding: 50px;
}

.btn-group {
  width: 100%;
}

.palette-btn {
  height: 75px;
  width: 20%;
  color: transparent;
}

.palette-btn:hover {
  color: inherit;
}

.link-to-new {
  margin: 75px;
  font-size: 25px;
}
